.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    @media (min-width: 768px) {
        width: calc(66.666666%);
        float: left;
    }
    @media (min-width: 1024px) {
        width: calc(80%);
    }
}