@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "./components/*/*.scss";


* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.container{
    margin: 15px;
    padding: 0;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    @media (min-width: 700px) {
      padding: 0px 20px;
    }
    @media (min-width: 1024px) {
      max-width: 1440px;
      margin: 0 auto;
    }
}

h1{
  font-weight: 500;
  margin: 0px;
  margin-bottom: 30px;
}

.footer{
  float: left;
  width: 100%;
  text-align: center;
  &__dev-info{
    font-weight: 700;
    font-size: 20px;
  }
  &__dev-name{
    font-weight: 400;
  }
}
